
{% extends "index.html" %}
{% block body %}
<title>Contact us</title>


{% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.feelings_docs.url }}">{{ document.feelings_title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}








<h1>Contact us</h1>

<form action="" method="post" enctype="multipart/form-data" > {% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" class="btn-primary">
</form>
{% endblock %}