<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="angallery" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->

<head>
    <link rel="icon" href="http://us.123rf.com/400wm/400/400/alexwhite/alexwhite1209/alexwhite120900529/15471651-news-icon.jpg" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quantum Photo Services</title>



    <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/app.css">

</head>

<body >

    <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
		</a>
    <a class="brand" href="#">Academy Conference</a>

    <div class="nav-collapse">
    <ul class="nav pull-right">
{#      <li class="active"><a href="/home">Home</a> </li>#}
{#      <li><a href="/books">Books</a></li>#}
      <li><a href="/reports">publication</a></li>
{#      <li><a href="/books/upload">Upload</a></li>#}
      <li><a href="/books/contact">contact</a></li>
    </ul>
    </div>
    </div>
   </nav>

   <!-- Carousel
    ================================================== -->
	<h4>Be a writter</h4>
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/media/slide/slide1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
{#              <h1>Get published your writtings.</h1>#}
{#              <p class="lead">Upload assignments with your name, university and department and discover yourself as writter in front of the world and your community.</p>#}
              <a class="btn btn-large btn-success" href="#">Wellcome</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/media/slide/slide2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
{#              <h1>Our Mission</h1>#}
{#              <p class="lead">Make information available for you and share information with you because we know the importance of information.</p>#}
              <a class="btn btn-large btn-primary" href="#">Wellcome</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/media/slide/slide3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
{#              <h1>Study Everywhere.</h1>#}
{#              <p class="lead">Get documents on your mobile,anroid,tablet go through it and find infirmation whatever you want and make yourself update and smart.</p>#}
              <a class="btn btn-large btn-inverse" href="#">Wellcome</a>
            </div>
          </div>
        </div>


      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	<ol class="carousel-indicators center">
	<li data-target="#myCarousel" data-slide-to="0" ></li>
	<li data-target="#myCarousel" data-slide-to="1"></li>
	<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

    </div><!-- /.carousel -->

<div class="row-fluid">
    <div class="span1"></div>
    <div class="span6 hero-unit">
      <h2 class="btn-info btn-large">About us</h2>
        <p>You can use all Bootstrap plugins purely through the markup API without writing a single line of JavaScript.
            This is Bootstrap's first class API and should be your first consideration when using a plugin.which will
            Facebook has a huge subscriber base, when a user like your Face</p>

    </div>
    <div class="span4 hero-unit centered bighight">
       <form action="/home/" method="post" class="centered form-search"> {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" class="btn-inverse">
        <p class=" lead btn">To get new uploaded material instantly please submit your email here.</p>
       </form>


    </div>
    <div class="span1"></div>
<div>


<script src="{{STATIC_URL}}libraries/vendor/jquery.js"></script>
<script src="{{STATIC_URL}}libraries/vendor/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}libraries/vendor/holder.js"></script>


    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel({interval: 3000})
        })
      }(window.jQuery)
    </script>

</body>

